.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;

  
}

.clients-cards {
  @media screen and (max-width: 1199.98px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  list-style: none;
}

.clients-cards__social {
  @media screen and (max-width: 767.98px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }

  height: 90px;
  margin-top: 30px;
  margin-left: 30px;
}
.clients-cards__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transform: scale(1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 350ms cubic-bezier(0.4, 0, 0.2, 1), transform 350ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #188ce8;
    border: 1px solid #188ce8;
    transform: scale(1.1);
  }
}

.clients-cards__logsocial {
  fill: currentColor;
  background-color: #ffffff;
}
