.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-contacts__list {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-container__link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &--accent {
    color: #2196f3;
  }
  &--secondary {
    color: #ffffff;
  }
}

.footer-contacts__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $link-color;
  }
}

.footer-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  padding-top: 12px;
}

.footer-cards {
  justify-content: center;
  align-items: center;
  list-style: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
}

.footer-container__link {
  display: inline-block;
  margin-bottom: 20px;
}

.adress__link {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 10px;

  &:hover {
    color: aquamarine;
  }
}
